/* main css file */
body {
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
  text-align: center;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

html {
  padding: 0px;
  margin: 0px;
}

.logos {
  height: 1.7rem;
  /* display: flex; */
  /* align-items: center; */
}
#first-image,#second-image {
  height: 20rem;
}
.icons img {
  height: 1.5em;
  vertical-align: bottom;
}
.cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  /* grid-column: 1/2; */
  gap: 20px;
}

/* so the cards become 2 columns if screen width is 768px or less */

@media (max-width:768px) {
  .cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
/* so the cards become 1 column if screen width is 600px or less */
@media (max-width:600px) {
  .cards{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}



.card {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 2em;
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 450px;
  border-left: 10px solid #7c3aed;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
section{
  display: flex;
  flex-direction: column;
}
footer{
  display: flex;
  justify-content: center;
  gap: 25px;
}
.icon{
  display: flex;
  justify-content: center;

}
