/* main css file */
body {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

html {
  padding: 0px;
  margin: 0px;
}

header {
  display: flex;
  align-items: center;
  background-color: #7c3aed;
}

#header-info {
  /* padding-left: 100px; */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 2rem;
  /* padding: 3rem; */
  padding-right: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 20rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.logos {
  height: 1.7rem;
  /* display: flex; */
  /* align-items: center; */
}

#second-image {
  height: 20rem;
  /* height: auto; */
}
#first-image{
  height: 23rem;
  position: relative;
  left: 19rem;
}
.icons img {
  height: 1.5em;
  vertical-align: bottom;
}
.cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 30rem);
  justify-content: center;
  row-gap: 40px;
}

/* so the cards become 2 columns if screen width is 768px or less */

@media (max-width: 768px) {
  header{
flex-direction: column;

  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* so the cards become 1 column if screen width is 600px or less */
@media (max-width: 600px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.card img {
  display: flex;
  max-width: 25rem;
  /* min-width: auto; */
  margin-bottom: 0px;
  /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
}
.card-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 1em;
  background-color: #ffffff;
  border-radius: 12px;
  border-top-left-radius: 0px;
  margin-top: 0px;
  max-width: 22.4rem;
  border-left: 10px solid #7c3aed;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
section {
  display: flex;
  flex-direction: column;
}
footer {
  padding: 2rem;
  color: white;
  background-color: #7c3aed;
  margin-top: 5rem;
  display: flex;
  text-align: start;
  justify-content: center;
  gap: 25px;
}
.icon {
  display: flex;
  justify-content: start;
}
.icons {
  display: flex;
  gap: 7px;
}
